{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">

        <h1>Modifier la Rubrique</h1>

        {{ include('rubrique/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="row">
            <div class="col">{{ include('rubrique/_delete_form.html.twig') }}</div>
        </div>

        <a href="{{ path('rubrique_index') }}">revenir a la liste</a>

    </div>
{% endblock %}
