{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">

        <h1>Ajouter une Rubrique</h1>

        {{ include('rubrique/_form.html.twig') }}

        <a href="{{ path('rubrique_index') }}">revenir a la liste</a>
    </div>
{% endblock %}
