{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">

        <h1>Modifier l'annonce</h1>

        {{ include('annonce/_form.html.twig', {'button_label': 'Modifier'}) }}

        <div class="row">
            <div class="col">{{ include('annonce/_delete_form.html.twig') }}</div>
        </div>

        <a href="{{ path('annonce_index') }}">revenir a la liste</a>

    </div>
{% endblock %}
