{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">

        <h1>Ajouter une annonce</h1>

        {{ include('annonce/_form.html.twig') }}

        <a href="{{ path('annonce_index') }}">revenir a la liste</a>
    </div>
{% endblock %}
