{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">

        <h1 class="titre-responsive">Ajouter une annonce</h1>

        <div class="text-show-responsive-detail">
            {{ include('annonce/_form.html.twig') }}
        </div>

        <a class="edit-btn btn-responsive-annonce" href="{{ path('annonce_index') }}">Revenir a la liste</a>
    </div>
{% endblock %}
