{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">

        <h1>Modifier le Genre</h1>

        {{ include('genre/_form.html.twig', {'button_label': 'Modifier'}) }}


        <div class="row">
            <div class="col">{{ include('genre/_delete_form.html.twig') }}</div>
        </div>

        <a href="{{ path('genre_index') }}">revenir a la liste</a>

    </div>
{% endblock %}