{% extends "layout.html.twig" %}
{% block body %}
    <div class="low-container">
        <h1 class="title">Liste des genres</h1>
        {% if is_granted('ROLE_BENEVOLE') or is_granted('ROLE_ADMIN') %}
            <div class="row">
                <a href="{{ path('benevole_bibliotheque_addLivre') }}" class="edit-btn">Ajouter un livre</a>
            </div>
        {% endif %}
        <div class="row">
            {% for genre in genres %}
                <div class="col-md-3">
                    <div class="card bg-light mb-3">
                        <div class="card-header">{{ genre.libelleGenre }}</div>
                        <div class="card-body">
                            <a href="{{ path('adherent_bibliotheque_show_genre', {id : genre.idGenre}) }}" class="edit-btn">Consulter</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
