{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">

        <h1>Ajouter un Genre</h1>

        {{ include('genre/_form.html.twig') }}

        <a href="{{ path('genre_index') }}">revenir a la liste</a>
    </div>
{% endblock %}
