<footer>
  <div class="container">
    <div class="row">
        <div class="col-sm">
            <a href="#" class="lien">Mention Légales</a>
        </div>
        <div class="col-sm">
            <a href="#" class="lien">Nous contacter</a>
        </div>
    </div>
    <small><i>© 2020 Copyright | V 1.0.0 | Médiathèque Thales - Brest</i></small>
  </div>
</footer>