{% extends "layout.html.twig" %}
{% block body %}
    {% include "_search_home.html.twig" %}
    <div class="container-carousel">

        <div class="row">

            <div class="col-sm ">
                {% include 'annonce/annonces.html.twig' %}
            </div>

            {% include 'articles/nouveaute_carrousel.html.twig'  %}
        </div>
    </div>

    <div class="separtor"></div>

    <h2 class="carousel-title"><span>E-braderie</span></h2>

    <div class="container-carousel">
        <div class="row">
            <div class="col-sm ">
                <h3 class="carousel-title">Le Concept</h3>
                <div class="carousel slide h-100 w-100 d-inline-block" data-ride="carousel" data-interval="0">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">
                                <div class="col-sm">
                                    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non metus diam. Nunc placerat ante at iaculis egestas. Pellentesque risus mauris, interdum vitae tellus eu, pellentesque dignissim urna. Nulla mattis enim mauris, quis aliquam nisi placerat imperdiet. Morbi consequat leo vel ante varius finibus. Pellentesque vitae ante vitae turpis maximus volutpat porta vitae orci. Donec tincidunt felis at tortor tincidunt, quis porta ipsum dignissim. Vivamus imperdiet est augue, eu ultricies elit pulvinar ornare. Pellentesque nulla nulla, congue facilisis aliquam id, ultricies id nibh. Pellentesque sed nibh eget sapien mollis malesuada. Vivamus eget congue sem, id dapibus dui. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        {% include 'articles/vente_carrousel.html.twig'  %}
        </div>
    </div>
{% endblock %}

