<!DOCTYPE html>

<title>New TypeEntite</title>

{% block body %}
    <h1>Create new TypeEntite</h1>

    {{ include('type_entite/_form.html.twig') }}

    <a href="{{ path('type_entite_index') }}">back to list</a>
{% endblock %}
