<h1>Bienvenue dans la médiathèque</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet animi atque beatae commodi consequuntur
    dolorem doloremque dolorum eveniet hic id illum, impedit incidunt magnam non nulla obcaecati optio perspiciatis
    quisquam tempora temporibus voluptatem voluptates. Ab animi consequatur possimus vero!</p>
<p>Aliquam animi autem
    consequatur culpa distinctio dolore dolores esse eveniet inventore, labore necessitatibus nobis nostrum officiis
    pariatur quas, quod suscipit velit? Aperiam excepturi laboriosam odio porro. Aliquid aperiam autem consectetur cum
    doloremque expedita hic, mollitia nulla praesentium qui reprehenderit totam.</p>
<a href="{{ path("article") }}">index</a>
<ul>
    {% for article in articles %}
        <li>{{ article.codeArticle }}</li>
    {% endfor %}
</ul>