{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">

    <h1>Ajouter un article</h1>
    {{ include('article/_form.html.twig') }}
    <a href="{{ path('article_index') }}">back to list</a>
{% endblock %}