<!DOCTYPE html>

<title>New Fonction</title>

{% block body %}
    <h1>Create new Fonction</h1>

    {{ include('fonction/_form.html.twig') }}

    <a href="{{ path('fonction_index') }}">back to list</a>
{% endblock %}
