{% extends "layout.html.twig" %}
{% block body %}
    <div class="container cadre">
        <h1 class="titre-responsive">Opérations sur les articles</h1><hr>
        <div class="row text-responsive">
            <div class="col-sm">
                Livres
            </div>
            <div class="col-sm">
                <a href="{{ path('get_ISBN') }}" class="edit-btn btn-responsive-global">Ajouter un livre</a>
            </div>
            <div class="col-sm">
                <a href="" class="edit-btn btn-responsive-global">Modifier un livre</a>
            </div>
        </div><hr>
        <div class="row text-responsive">
            <div class="col-sm">
                Films
            </div>
            <div class="col-sm">
                <a href="" class="edit-btn btn-responsive-global">Ajouter un film</a>
            </div>
            <div class="col-sm">
                <a href="" class="edit-btn btn-responsive-global">Modifier un film</a>
            </div>
        </div><hr>
        <div class="row text-responsive">
            <div class="col-sm">
                Films
            </div>
            <div class="col-sm">
                <a href="" class="edit-btn btn-responsive-global">Ajouter une musique</a>
            </div>
            <div class="col-sm">
                <a href="" class="edit-btn btn-responsive-global">Modifier une musique</a>
            </div>
        </div><hr>
        <div class="row text-responsive">
            <div class="col-sm">
                Jeux
            </div>
            <div class="col-sm">
                <a href="" class="edit-btn btn-responsive-global">Ajouter un jeu</a>
            </div>
            <div class="col-sm">
                <a href="" class="edit-btn btn-responsive-global">Modifier un jeu</a>
            </div>
        </div><hr>
    </div>
{% endblock %}
