<!DOCTYPE html>

<title>New TrancheAge</title>

{% block body %}
    <h1>Create new TrancheAge</h1>

    {{ include('tranche_age/_form.html.twig') }}

    <a href="{{ path('tranche_age_index') }}">back to list</a>
{% endblock %}
