{% extends "layout.html.twig" %}
{% block body %}
    <div class="low-container">
        <h1 class="center">Liste des genres</h1>
        {% if is_granted('ROLE_BENEVOLE') %}
            <div class="row">
                <a href="" class="edit-btn">Ajouter un genre</a>
            </div>
        {% endif %}
        <div class="row">
            {% for genre in genres %}
                <div class="col-md-3">
                    <div class="card bg-light mb-3">
                        <div class="card-header">{{ genre.libelle }}</div>
                        <div class="card-body center">
                            <a href="{{ path('genres_id_articles_show', {id : genre.idGenre}) }}" class="edit-btn">Consulter</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
